{% extends "base.html" %}


{% block tab_main %}
active
{% endblock %}
{% block main %}
<br/>
<br/>

<table>
<tr>
<td align = "left">
<b>Automatyczna translacja</b> jest procesem polegającym na tłumaczeniu tekstów bez udziału człowieka pomiędzy dowolną parą języków. Zagadnienie to jest jednak na tyle złożone i skomplikowane, że jak do tej pory nie zostało do końca rozwiązane i mimo trwających już ponad pół wieku prac nad nim, wciąż pozostało w tej kwestii dużo do zrobienia.<br/><br/>
Istnieje wiele metod, w oparciu o które budowane są systemy automatycznej translacji.<br/> 
Przedstawiony na niniejszej stronie <b><i>„Translator frazeologiczny”</i></b> jest zestawem narzędzi pozwalający testować przydatność wyrażeń frazeologicznych w procesie automatycznej translacji.<br/>
 W skład aplikacji wchodzą narzędzia do wspomagania procesu tłumaczenia, przeszukiwania istniejących fraz, wyszukiwanie przykładów użycia określonych zwrotów we wcześniej przetworzonych już zdaniach oraz słownik polsko-angielski i angielsko-polski.
 <br/>

</td>
</tr>
<tr>
<td align = "right">
<p>
<br/><br/><br/><br/>
<font color = "brown"><i>Zapraszamy do korzystania z <b>„Translatora frazeologicznego”</b>. </i></p>
</font>
</td>
</tr>
</table>
<br/><br/><br/><br/><br/><br/>

{% endblock %}
